.authority {
  background-color: #253d7f;

}

.criminals {
  background-color: #981a2b;
}

.government {
  background-color: #7d4e9f;
}

.immigrants {
  background-color: #1890ba;
}

.jetset {
  background-color: #d12e7c;
}

.labor {
  background-color: #f58229;
}

.medicine {
  background-color: #007350;
}

.outcasts {
  background-color: #74432d;
}

.press {
  background-color: #eea616;
}